<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.information.dao.BookDao" >
  <sql id="BASE_TABLE">
    bookdomain
  </sql>

  <sql id="BASE_COLUMN">
    bookId,authorId,bookName,createTime,isSoftDelete
  </sql>

  <insert id="addBook" parameterType="com.xingkaichun.information.model.BookDomain">
    INSERT INTO
      <include refid="BASE_TABLE"/>
      (<include refid="BASE_COLUMN"/>)
    VALUES(
      #{bookId, jdbcType=VARCHAR},
      #{authorId, jdbcType=VARCHAR},
      #{bookName, jdbcType=VARCHAR},
      #{createTime, jdbcType=TIMESTAMP},
      false
    )
  </insert>

  <update id="updateBook" parameterType="com.xingkaichun.information.dto.book.request.UpdateBookRequest">
    update <include refid="BASE_TABLE"/>
    set
    <if test="bookName != null and bookName != ''">
      bookName = #{bookName, jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
      createTime = #{createTime, jdbcType=TIMESTAMP},
    </if>
    <if test="isSoftDelete != null">
      isSoftDelete = #{isSoftDelete, jdbcType=BIT},
    </if>
    bookId = #{bookId, jdbcType=VARCHAR}
    where bookId = #{bookId, jdbcType=VARCHAR}
  </update>

  <delete id="physicsDeleteBookByBookId" parameterType="java.lang.String">
    delete from <include refid="BASE_TABLE"/>
    where bookId = #{bookId, jdbcType=VARCHAR} and isSoftDelete = true
  </delete>

  <select id="queryBookList" resultType="com.xingkaichun.information.model.BookDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
  </select>

  <select id="queryBook" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.BookDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where bookId = #{bookId, jdbcType=VARCHAR}
  </select>
</mapper>