<!DOCTYPE html>
<html lang="en">

<head>
    <title>[###SeoTitle###]</title>
    <meta name="keywords" content="[###SeoKeywords###]" />
    <meta name="description" content="[###SeoDescription###]" />

    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="applicable-device"content="pc,mobile" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/book.css">
    <style></style>
</head>

<body>
<div id="article_details">
    <div class="header">
        <nav class="jt-nav-bar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><strong>邢开春的网络日志</strong></a>
                    <button type="button" class="navbar-toggle" data-id="collapse2">我</button>
                    <button type="button" class="navbar-toggle" data-id="collapse1">教程</button>
                </div>
                <div class="navbar-collapse" data-in="false" id="collapse1">
                    <p class="navbar-text"><a href="/jiaocheng/lucene/lucene_jiaocheng.html" class="nav_li">lucene教程</a></p>
                    <p class="navbar-text"><a href="/jiaocheng/solr/solr_jiaocheng.html" class="nav_li">solr教程</a></p>
                    <p class="navbar-text"><a href="/jiaocheng/elasticsearch/elasticsearch_jiaocheng.html" class="nav_li">elasticsearch教程</a></p>
                </div>
                <div class="navbar-collapse right" data-in="false" id="collapse2">
                    <p class="navbar-text"><a href="/bbs/post_list.html" class="nav_li">论坛</a></p>
                    <p class="navbar-text"><a href="/bbs/start_a_new_post.html" class="nav_li">发帖</a></p>
                    <p class="navbar-text"><a href="/login.html" class="nav_li">登录</a></p>
                    <p class="navbar-text"><a href="/register.html" class="nav_li">注册</a></p>
                </div>
            </div>
        </nav>
    </div>
    <div class="link_content">
        <div class="Anchor_link-btn">></div>
        <div class="top-btn">></div>
        <div class="Anchor_link">
            <div class="Anchor_content">
                <div class="rank-one">
                    [###BookName###]
                    [###BookTableOfContents###]
                </div>
            </div>
        </div>
        <div class="content">
            <h1>[###BookSectionName###]</h1>
            [###BookSectionContent###]
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/js/header.js"></script>
<script src="/js/book.js"></script>
<script id="common_auto_login_js" src="/js/common_auto_login.js" data="jiaocheng_page"></script>
<script src="/js/baidutongji.js"></script>
</body>

</html>