body {
  padding: 0;
  margin: 0 auto;
}
div[contenteditable="true"] {
  outline: none;
}
div[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  font-size: 15px;
  color: #999;
}
div[contenteditable="true"]:focus:before {
  content: none;
}
#article_details {
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  #article_details .Anchor_link-btn {
    display: block;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 30px;
    height: 30px;
    padding: 0px 6px;
    box-sizing: border-box;
    background-color: #fff;
    color: #999;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #999999;
    z-index: 23;
  }
  #article_details .Anchor_link {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 22;
    background-color: #fff;
    max-width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
  }
  #article_details .link_content .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1480px) {
  .Anchor_link-btn {
    display: none;
  }
  #article_details .link_content {
    width: 1440px;
  }
  #article_details .Anchor_link {
    width: 460px;
  }
  #article_details .link_content .content {
    width: 960px;
  }
}
@media only screen and (max-width: 1479px) and (min-width: 1240px) {
  .Anchor_link-btn {
    display: none;
  }
  #article_details .link_content {
    width: 1200px;
  }
  #article_details .Anchor_link {
    width: 380px;
  }
  #article_details .link_content .content {
    width: 800px;
  }
}
#article_details .top-btn {
  display: block;
  position: fixed;
  right: 50px;
  bottom: 100px;
  width: 30px;
  height: 30px;
  padding: 0px 6px;
  box-sizing: border-box;
  background-color: #fff;
  color: #999;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #999999;
  z-index: 23;
  transform: rotate(-90deg);
}
#article_details .link_content {
  display: flex;
  margin: 0 auto;
  padding-top: 70px;
}
#article_details .link_content .Anchor_link {
  color: #323232;
  min-width: 380px;
  box-sizing: border-box;
  padding-top: 20px;
  user-select: none;
}
#article_details .link_content .Anchor_link .Anchor_content {
  position: sticky;
}
#article_details .link_content .Anchor_link .Anchor_content .rank-one .rank-one-text .link_li {
  display: block;
  font-size: 0.9375rem;
  padding-top: 20px;
  color: #333333;
  text-decoration: none;
}
#article_details .link_content .Anchor_link .Anchor_content .rank-one .rank-one-text .link_li:hover {
  text-decoration: underline;
}
#article_details .link_content .Anchor_link .Anchor_content .rank-one .rank-one-text .link_li.active {
  color: #007670;
  font-weight: bold;
}
#article_details .link_content .Anchor_link .Anchor_content .rank-one .rank-two {
  padding-left: 10px;
}
#article_details .link_content .Anchor_link .Anchor_content .rank-one .rank-two .rank-two-text .link_li {
  display: block;
  font-size: 0.9375rem;
  padding-top: 20px;
  color: #666666;
  text-decoration: none;
}
#article_details .link_content .Anchor_link .Anchor_content .rank-one .rank-two .rank-two-text .link_li:hover {
  text-decoration: underline;
}
#article_details .link_content .Anchor_link .Anchor_content .rank-one .rank-two .rank-two-text .link_li.active {
  color: #007670;
  font-weight: bold;
}
#article_details .link_content .Anchor_link .Anchor_content .rank-one .rank-two .rank-three {
  padding-left: 10px;
}
#article_details .link_content .Anchor_link .Anchor_content .rank-one .rank-two .rank-three .rank-three-text .link_li {
  display: block;
  font-size: 0.9375rem;
  padding-top: 20px;
  color: #999999;
  text-decoration: none;
}
#article_details .link_content .Anchor_link .Anchor_content .rank-one .rank-two .rank-three .rank-three-text .link_li:hover {
  text-decoration: underline;
}
#article_details .link_content .Anchor_link .Anchor_content .rank-one .rank-two .rank-three .rank-three-text .link_li.active {
  color: #007670;
  font-weight: bold;
}
#article_details .link_content .Anchor_link .Anchor_content[data-in="false"] .mu_line {
  display: none;
}
#article_details .link_content .Anchor_link .title {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: bold;
  color: #777677;
  margin-top: 7px;
  padding-bottom: 6px;
  cursor: pointer;
}
#article_details .link_content .Anchor_link .line {
  height: 1px;
  background-color: #c7c7c7;
  margin: 7px 0 9px;
  width: 300px;
  display: block;
}
#article_details .link_content .content {
  word-wrap: break-word;
  padding: 20px;
}
#article_details .link_content .content img {
  max-width: 100%;
}
#article_details .link_content .content .comment_box {
  margin-top: 200px;
}
#article_details .link_content .content .comment_box .title {
  text-align: center;
  font-size: 18px;
  color: #999;
}
#article_details .link_content .content .comment_box .comment_form {
  background-color: #ffffff;
  padding: 10px;
}
#article_details .link_content .content .comment_box .comment_form .lable_form .lable {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}
#article_details .link_content .content .comment_box .comment_form .lable_form .form div[name='comment_val'] {
  min-height: 40px;
  padding: 10px;
  max-height: 200px;
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
  font-size: 14px;
}
#article_details .link_content .content .comment_box .comment_form .form_btn {
  text-align: right;
}
#article_details .link_content .content .comment_box .comment_form .form_btn .sumbit_btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin-top: 10px;
  margin-right: 20px;
  outline: none;
}
#article_details .link_content .content .comment_box .comment_list .comment_form {
  display: none;
}
#article_details .link_content .content .comment_box .comment_list .comment_li {
  padding: 10px;
  box-sizing: border-box;
}
#article_details .link_content .content .comment_box .comment_list .comment_li .name {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}
#article_details .link_content .content .comment_box .comment_list .comment_li .comment_content {
  font-size: 14px;
  color: #666666;
  margin-bottom: 10px;
}
#article_details .link_content .content .comment_box .comment_list .comment_li .time_btn {
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
}
#article_details .link_content .content .comment_box .comment_list .comment_li .time_btn .time {
  color: #8a9aa9;
}
#article_details .link_content .content .comment_box .comment_list .comment_li .time_btn .comment_btn {
  margin-left: auto;
  margin-right: 20px;
  color: #8a9aa9;
  cursor: pointer;
}
#article_details .link_content .content .comment_box .comment_list .comment_li .comment_li {
  padding-left: 20px;
  background-color: #a4a4a43b;
}
