/*通用样式*/
*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Arial;
    font-size: 14px;
    color: #333;
}
div{
    box-sizing: border-box;
}
h1{
    font-size: 20px;
}
h5{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #999;
}
a:active{
    color: #999;
}
a:visited{
    color: #999;
}
li,dd{
    list-style: none;
}
.btn{
    background: #fb6b25;
    color: #fff;
    border:none;
    cursor: pointer;
}
.btn:hover{
    background: #ec5f1b;
}
.btn_important{
    height: 34px;
    background: #fb6b25;
    color: #fff;
    text-align: center;
    line-height: 34px;
    border-radius: 5px;
    padding: 0 20px;
    border: 0;
    cursor: pointer;
}
.btn_important:hover{
    background: #ec5f1b;
    color: #fff;
}
.btn_important:visited{
    color: #fff;
}
.btn_normal{
    height: 34px;
    background: #fff;
    text-align: center;
    border: 1px solid #ccc;
    line-height: 34px;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
}
.btn_normal:hover{
    background: #f5f5f5;
}
p{
    font-size: 16px;
}
.txt{
    border:1px solid #ddd;
    padding-left:20px;
    color: #666;
    box-sizing: border-box;
}
.nav_logo{
    margin: 0 20px;
    line-height: 50px;
}
.nav_logo img{
    height: 30px;
    vertical-align: -8px;
    margin-right: 3px;
}
.nav_logo h1{
    color: #fb6b25;
    display: inline-block;
}
#divDemo{
    width: 100%;
}
#divDemo .w-e-toolbar{
    display: block;
    overflow: hidden;
}
#divDemo>div>div{
    float: left;
}
.c_txt{
    border:1px solid #eee;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    border-radius: 3px;
    color: #666;
}
.c_btn{
    border:1px solid #aaa;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 3px;
    background: #fff;
    padding: 0 20px;
    cursor: pointer;
    display: inline-block;
}
.c_btn:hover{
    background: #bbb;
}
.c_btn_imp{
    background: #fb6b25;
    color: #fff;
    border: 1px solid #ec5f1b;
}
.c_btn_imp:hover{
    background: #ec5f1b;
}
a.c_btn:visited{
    color: #666;
}
a.c_btn_imp:visited{
    color: #fff;
}