body {
  padding: 0;
  margin: 0 auto;
}
#index2 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: absolute;
}
#index2 .title-catalog {
  width: 100%;
}
#index2 .title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
#index2 .catalog-ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#index2 .catalog-ul .catalog-li {
  margin-right: 15px;
  font-size: 15px;
}
#index2 .catalog-ul .catalog-li:last-child {
  margin-right: 0px;
}
#index2 .catalog-ul .catalog-li a {
  color: #333333;
  text-decoration: none;
}
