/*index页*/
.index_main{
    width: 100%;
    height: 100%;
    background: #272d33 url("../images/bg.jpg") no-repeat;
    background-size:cover;
    overflow: hidden;
    position: relative;
}
.index_cont{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px;
}
.index_cont h1{
    color: #fff;
    font-size: 30px;
    color: #fb6b25;
}
.index_cont a{
    color: #fff;
    display: inline-block;
    width: 160px;
    height: 60px;
    line-height: 60px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px;
}
.index_cont a:hover{
    color: #fb6b25;
    border-color: #fb6b25;
}
.index_cont ul{
    overflow: hidden;
    margin: 50px 0 0 0;
}
.index_cont li{
    width: 33.3%;
    float: left;
}


/*登录注册页*/
html,body{height: 100%}
.login{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #272d33 url("../images/bg.jpg") no-repeat;
    background-size:cover;
}
.login_box{
    height: auto;
    background: #fff;
    padding: 40px 50px 50px 50px;
    margin: 0 auto;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
}
.login_box div{
    display: block;
    margin: 20px 0 0 0;
    border:1px solid #ccc;
    overflow: hidden;
    padding-top: 1px;
}
.login_box img{
    display: inline-block;
    width: 23px;
    height: 21px;
    float: left;
    margin: 10px 10px 0 12px;
}
.login_box input.txt{
    width: 230px;
    height: 40px;
    line-height: 40px;
    border:none;
    float: left;
    outline: none;
    color: #333;
    border: 0px;
    padding-left: 5px;
}
.login_box input.btn{
    width: 300px;
    height: 40px;
    margin: 20px 0 0 0;
}
.login_logo a{
    color: #fb6b25;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin: 0 20px;
}
.login_box li{
    overflow: hidden;
}
.login_box h5{
    float: left;
}
.login_box p{
    width: 200px;
    float: right;
    font-size: 12px;
    text-align: right;
    line-height: 20px;
}
.login_box p a{
    font-size: 12px;
}











