body {
  padding: 0;
  margin: 0 auto;
}
div[contenteditable="true"] {
  outline: none;
}
div[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  font-size: 15px;
  color: #999;
}
div[contenteditable="true"]:focus:before {
  content: none;
}

#publish_article .publish_article_form {
  padding-top: 70px;
}
#publish_article .publish_article_form .top {
  text-align: center;
  color: #666;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
#publish_article .publish_article_form .form_list .form_li {
  font-size: 0;
  border-bottom: 1px solid #999999;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#publish_article .publish_article_form .form_list .form_li:last-child {
  border: 0;
}
#publish_article .publish_article_form .form_list .form_li .lable {
  font-size: 15px;
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  text-align: right;
}
#publish_article .publish_article_form .form_list .form_li .form {
  font-size: 15px;
  display: inline-block;
  height: 100%;
  width: 90%;
}
#publish_article .publish_article_form .form_list .form_li .form input {
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  outline: none;
  font-size: 15px;
}
#publish_article .publish_article_form .form_list .form_fluid {
  border-bottom: 1px solid #999999;
}
#publish_article .publish_article_form .form_list .form_fluid .upload_img {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
}
#publish_article .publish_article_form .form_list .form_fluid .upload_img input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#publish_article .publish_article_form .form_list .form_fluid div[name="content"] {
  min-height: 300px;
  max-height: 500px;
  padding: 20px;
  box-sizing: border-box;
}
#publish_article .publish_article_form .form_list .form_btn button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin-top: 20px;
  margin-left: 20px;
  outline: none;
}
