<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.information.dao.BbsArticleDao" >
  <sql id="BASE_TABLE">
    bbsarticle
  </sql>

  <sql id="BASE_COLUMN">
    bbsArticleId,userId,title,content,createTime,isSoftDelete,lastEditTime
  </sql>

  <insert id="addBbsArticle" parameterType="com.xingkaichun.information.model.BbsArticleDomain">
    INSERT INTO
      <include refid="BASE_TABLE"/>
      (<include refid="BASE_COLUMN"/>)
    VALUES(
      #{bbsArticleId, jdbcType=VARCHAR},
      #{userId, jdbcType=VARCHAR},
      #{title, jdbcType=VARCHAR},
      #{content, jdbcType=VARCHAR},
      #{createTime, jdbcType=TIMESTAMP},
      false,
      #{lastEditTime, jdbcType=TIMESTAMP}
    )
  </insert>

  <select id="queryBbsArticleByBbsArticleId" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.BbsArticleDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where bbsArticleId = #{_parameter, jdbcType=VARCHAR}
  </select>

  <select id="queryBbsArticleByBbsArticleIdForDetailsPage" parameterType="java.lang.String" resultType="com.xingkaichun.information.dto.BbsArticle.BbsArticleDTOForDetailsPage">
    SELECT b.*,u.userName FROM <include refid="BASE_TABLE"/> b
    left join `user` u on b.userId = u.userId
    where bbsArticleId = #{_parameter, jdbcType=VARCHAR}
  </select>

  <select id="queryBbsArticleByRand" resultType="com.xingkaichun.information.model.BbsArticleDomain">
    SELECT * FROM <include refid="BASE_TABLE"/>
    ORDER BY  RAND() LIMIT 10
  </select>

  <select id="queryBbsArticleByUserId" parameterType="com.xingkaichun.information.dto.BbsArticle.request.QueryBbsArticleByUserIdRequest" resultType="com.xingkaichun.information.dto.BbsArticle.BbsArticleDTOForHomeShowListPage">
    SELECT * FROM <include refid="BASE_TABLE"/>
    where userId = #{userId, jdbcType=VARCHAR}
    ORDER BY createTime DESC
  </select>


  <select id="queryBbsArticle" parameterType="com.xingkaichun.information.dto.BbsArticle.request.QueryBbsArticleRequest" resultType="com.xingkaichun.information.dto.BbsArticle.BbsArticleDTOForShowListPage">
    SELECT b.*,u.userName FROM <include refid="BASE_TABLE"/> b
    left join `user` u on b.userId = u.userId
    where 1=1
    ORDER BY ${orderByField} DESC
  </select>

  <update id="updateBbsArticle" parameterType="com.xingkaichun.information.model.BbsArticleDomain">
    update <include refid="BASE_TABLE"/>
    set
    <if test="numberOfComment != 0">
      numberOfComment = #{numberOfComment, jdbcType=INTEGER},
    </if>
    bbsArticleId = #{bbsArticleId, jdbcType=VARCHAR}
    where bbsArticleId = #{bbsArticleId, jdbcType=VARCHAR}
  </update>
</mapper>