<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.information.dao.BbsArticleCommentDao" >
  <sql id="BASE_TABLE">
    bbsarticlecommentdomain
  </sql>

  <sql id="BASE_COLUMN">
    bbsArticleId,bbsArticleCommentId,parentBbsArticleCommentId,userId,content,createTime,isSoftDelete,forBbsArticleCommentId
  </sql>

  <insert id="addBbsArticleComment" parameterType="com.xingkaichun.information.model.BbsArticleCommentDomain">
    INSERT INTO
      <include refid="BASE_TABLE"/>
      (<include refid="BASE_COLUMN"/>)
    VALUES(
      #{bbsArticleId, jdbcType=VARCHAR},
      #{bbsArticleCommentId, jdbcType=VARCHAR},
      #{parentBbsArticleCommentId, jdbcType=VARCHAR},
      #{userId, jdbcType=VARCHAR},
      #{content, jdbcType=VARCHAR},
      #{createTime, jdbcType=TIMESTAMP},
      false,
      #{forBbsArticleCommentId, jdbcType=VARCHAR}
    )
  </insert>


  <select id="querybbsArticleCommentBybbsArticleCommentId" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.BbsArticleCommentDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where bbsArticleCommentId = #{_parameter, jdbcType=VARCHAR}
  </select>

  <select id="queryAllBbsArticleCommentBybbsArticleId" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.BbsArticleCommentDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where bbsArticleId = #{bbsArticleId, jdbcType=VARCHAR}
  </select>

  <select id="queryNumberOfComment" resultType="java.lang.Integer">
    select count(*) from <include refid="BASE_TABLE"/>
    where bbsArticleId = #{bbsArticleId, jdbcType=VARCHAR}
  </select>

  <select id="queryBbsArticleCommentByUser" parameterType="com.xingkaichun.information.dto.BbsArticle.request.QueryBbsArticleCommentByUserRequest" resultType="com.xingkaichun.information.dto.BbsArticleComment.BbsArticleCommentDTOForHomeShowList">
    SELECT * from <include refid="BASE_TABLE"/>
    ORDER BY createTime DESC
  </select>

  <select id="queryBbsArticleCommentByBbsArticleId" parameterType="com.xingkaichun.information.dto.BbsArticle.request.QueryBbsArticleCommentByBbsArticleIdRequest" resultType="com.xingkaichun.information.dto.BbsArticleComment.BbsArticleCommentDTOForBbsShowList">
    SELECT bac.*,u.userId as FromUserId,u.userName as FromUserName from <include refid="BASE_TABLE"/> bac join
    user u
    on bac.bbsArticleId = #{bbsArticleId, jdbcType=VARCHAR} and (bac.parentBbsArticleCommentId is null or bac.parentBbsArticleCommentId='') and bac.userId=u.userId
    ORDER BY bac.createTime DESC
  </select>

  <select id="queryBbsArticleCommentByForBbsArticleCommentId" parameterType="com.xingkaichun.information.dto.BbsArticle.request.QueryBbsArticleCommentByForBbsArticleCommentIdRequest" resultType="com.xingkaichun.information.dto.BbsArticleComment.BbsArticleCommentDTOForBbsShowList">
    SELECT bac.*,u.userId as FromUserId,u.userName as FromUserName from <include refid="BASE_TABLE"/> bac join
    user u
    on bac.forBbsArticleCommentId = #{forBbsArticleCommentId, jdbcType=VARCHAR} and (bac.parentBbsArticleCommentId is not null and bac.parentBbsArticleCommentId != '') and bac.userId=u.userId
    ORDER BY bac.createTime DESC
  </select>
</mapper>