<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.information.dao.BbsArticleDao" >
  <sql id="BASE_TABLE">
    bbsarticledomain
  </sql>

  <sql id="BASE_COLUMN">
    bbsArticleId,userId,title,content,createTime,isSoftDelete
  </sql>

  <insert id="addBbsArticle" parameterType="com.xingkaichun.information.model.BbsArticleDomain">
    INSERT INTO
      <include refid="BASE_TABLE"/>
      (<include refid="BASE_COLUMN"/>)
    VALUES(
      #{bbsArticleId, jdbcType=VARCHAR},
      #{userId, jdbcType=VARCHAR},
      #{title, jdbcType=VARCHAR},
      #{content, jdbcType=VARCHAR},
      #{createTime, jdbcType=TIMESTAMP},
      false
    )
  </insert>

  <select id="queryBbsArticleByBbsArticleId" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.BbsArticleDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where bbsArticleId = #{_parameter, jdbcType=VARCHAR}
  </select>

  <select id="queryBbsArticleByRand" resultType="com.xingkaichun.information.model.BbsArticleDomain">
    SELECT * FROM <include refid="BASE_TABLE"/>
    ORDER BY  RAND() LIMIT 10
  </select>

  <select id="queryBbsArticleByUserId" resultType="com.xingkaichun.information.model.BbsArticleDomain">
    SELECT * FROM <include refid="BASE_TABLE"/>
    where userId = #{_parameter, jdbcType=VARCHAR}
    ORDER BY createTime DESC;
  </select>
</mapper>