<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.information.dao.BookSectionDao" >
  <sql id="BASE_TABLE">
    booksection
  </sql>

  <sql id="BASE_COLUMN">
    bookId,bookChapterId,bookSectionId,bookSectionName,bookSectionDescription,bookSectionContent,bookSectionOrder,
    createTime,lastEditTime,isSoftDelete,
    seoUrl,seoTitle,seoKeywords,seoDescription
  </sql>

  <insert id="addBookSection" parameterType="com.xingkaichun.information.model.BookSectionDomian">
    INSERT INTO
    <include refid="BASE_TABLE"/>
    (bookId,bookChapterId,bookSectionId,bookSectionName,bookSectionDescription,bookSectionContent,bookSectionOrder,
    isSoftDelete,
    seoUrl,seoTitle,seoKeywords,seoDescription)
    VALUES(
    #{bookId, jdbcType=VARCHAR},
    #{bookChapterId, jdbcType=VARCHAR},
    #{bookSectionId, jdbcType=VARCHAR},
    #{bookSectionName, jdbcType=VARCHAR},
    #{bookSectionDescription, jdbcType=VARCHAR},
    #{bookSectionContent, jdbcType=VARCHAR},
    #{bookSectionOrder, jdbcType=INTEGER},
    false,
    #{seoUrl, jdbcType=VARCHAR},
    #{seoTitle, jdbcType=VARCHAR},
    #{seoKeywords, jdbcType=VARCHAR},
    #{seoDescription, jdbcType=VARCHAR}
    )
  </insert>

  <update id="updateBookSection" parameterType="com.xingkaichun.information.model.BookSectionDomian">
    update <include refid="BASE_TABLE"/>
    set
    <if test="bookId != null">
      bookId = #{bookId, jdbcType=VARCHAR},
    </if>
    <if test="bookChapterId != null">
      bookChapterId = #{bookChapterId, jdbcType=VARCHAR},
    </if>
    <if test="bookSectionId != null">
      bookSectionId = #{bookSectionId, jdbcType=VARCHAR},
    </if>
    <if test="bookSectionName != null">
      bookSectionName = #{bookSectionName, jdbcType=VARCHAR},
    </if>
    <if test="bookSectionDescription != null">
      bookSectionDescription = #{bookSectionDescription, jdbcType=VARCHAR},
    </if>
    <if test="bookSectionContent != null">
      bookSectionContent = #{bookSectionContent, jdbcType=VARCHAR},
    </if>
    <if test="bookSectionOrder != null">
      bookSectionOrder = #{bookSectionOrder, jdbcType=INTEGER},
    </if>
    <if test="isSoftDelete != null">
      isSoftDelete = #{isSoftDelete, jdbcType=BIT},
    </if>
    <if test="seoUrl != null and seoUrl != ''">
      seoUrl = #{seoUrl, jdbcType=VARCHAR},
    </if>
    <if test="seoTitle != null and seoTitle != ''">
      seoTitle = #{seoTitle, jdbcType=VARCHAR},
    </if>
    <if test="seoKeywords != null and seoKeywords != ''">
      seoKeywords = #{seoKeywords, jdbcType=VARCHAR},
    </if>
    <if test="seoDescription != null and seoDescription != ''">
      seoDescription = #{seoDescription, jdbcType=VARCHAR},
    </if>
    bookSectionId = #{bookSectionId, jdbcType=VARCHAR}
    where bookSectionId = #{bookSectionId, jdbcType=VARCHAR}
  </update>

  <delete id="physicsDeleteBookSectionByBookSectionId" parameterType="java.lang.String">
    delete from <include refid="BASE_TABLE"/>
    where bookSectionId = #{bookSectionId, jdbcType=VARCHAR}
  </delete>

  <select id="queryBookSectionListBybookChapterId" resultType="com.xingkaichun.information.model.BookSectionDomian">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where bookChapterId = #{bookChapterId, jdbcType=VARCHAR}
    order by bookSectionOrder asc
  </select>

  <select id="queryBookSectionByBookSectionId" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.BookSectionDomian">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where bookSectionId = #{bookSectionId, jdbcType=VARCHAR}
  </select>

  <select id="queryBookSection" parameterType="com.xingkaichun.information.model.BookSectionDomian" resultType="com.xingkaichun.information.model.BookSectionDomian">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    <trim prefix="where" prefixOverrides="and">
      <if test="bookId != null and bookId != ''">
        and bookId = #{bookId, jdbcType=VARCHAR}
      </if>
      <if test="seoUrl != null and seoUrl != ''">
        and seoUrl = #{seoUrl, jdbcType=VARCHAR}
      </if>
    </trim>
  </select>
</mapper>