<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.information.dao.BookDao" >
  <sql id="BASE_TABLE">
    book
  </sql>

  <sql id="BASE_COLUMN">
    id,bookId,authorId,bookName,bookDescription,
    createTime,lastEditTime,isSoftDelete,
    seoUrl,seoTitle,seoKeywords,seoDescription
  </sql>

  <insert id="addBook" parameterType="com.xingkaichun.information.model.BookDomain">
    INSERT INTO
      <include refid="BASE_TABLE"/>
      (bookId,authorId,bookName,bookDescription,
       isSoftDelete,
       seoUrl,seoTitle,seoKeywords,seoDescription)
    VALUES(
      #{bookId, jdbcType=VARCHAR},
      #{authorId, jdbcType=VARCHAR},
      #{bookName, jdbcType=VARCHAR},
      #{bookDescription, jdbcType=VARCHAR},
      false,
      #{seoUrl, jdbcType=VARCHAR},
      #{seoTitle, jdbcType=VARCHAR},
      #{seoKeywords, jdbcType=VARCHAR},
      #{seoDescription, jdbcType=VARCHAR}
    )
  </insert>

  <update id="updateBook" parameterType="com.xingkaichun.information.dto.book.request.UpdateBookRequest">
    update <include refid="BASE_TABLE"/>
    set
    <if test="bookName != null and bookName != ''">
      bookName = #{bookName, jdbcType=VARCHAR},
    </if>
    <if test="bookDescription != null and bookDescription != ''">
      bookDescription = #{bookDescription, jdbcType=VARCHAR},
    </if>
    <if test="isSoftDelete != null">
      isSoftDelete = #{isSoftDelete, jdbcType=BIT},
    </if>
    <if test="seoUrl != null and seoUrl != ''">
      seoUrl = #{seoUrl, jdbcType=VARCHAR},
    </if>
    <if test="seoTitle != null and seoTitle != ''">
      seoTitle = #{seoTitle, jdbcType=VARCHAR},
    </if>
    <if test="seoKeywords != null and seoKeywords != ''">
      seoKeywords = #{seoKeywords, jdbcType=VARCHAR},
    </if>
    <if test="seoDescription != null and seoDescription != ''">
      seoDescription = #{seoDescription, jdbcType=VARCHAR},
    </if>
    <if test="auditStatus != null">
      auditStatus = #{auditStatus, jdbcType=INTEGER},
    </if>
    bookId = #{bookId, jdbcType=VARCHAR}
    where bookId = #{bookId, jdbcType=VARCHAR}
  </update>

  <delete id="physicsDeleteBookByBookId" parameterType="java.lang.String">
    delete from <include refid="BASE_TABLE"/>
    where bookId = #{bookId, jdbcType=VARCHAR}
  </delete>

  <select id="queryBookList" parameterType="com.xingkaichun.information.dto.book.request.QueryBookListRequest" resultType="com.xingkaichun.information.model.BookDomain">
    SELECT * FROM <include refid="BASE_TABLE"/>
    where 1=1
    <if test="authorId != null and authorId != ''">
      and authorId = #{authorId, jdbcType=VARCHAR}
    </if>
    <if test="seoUrl != null and seoUrl != ''">
      and seoUrl = #{seoUrl, jdbcType=VARCHAR}
    </if>
    order by lastEditTime desc
  </select>

  <select id="queryBookByBookId" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.BookDomain">
    SELECT * FROM <include refid="BASE_TABLE"/>
    where bookId = #{bookId, jdbcType=VARCHAR}
  </select>
</mapper>