<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.information.dao.UserFavoriteDao" >
  <sql id="BASE_TABLE">
    userfavorite
  </sql>

  <sql id="BASE_COLUMN">
    userId,favoriteId,favoriteType,createTime,lastEditTime
  </sql>

  <insert id="addUserFavorite" parameterType="com.xingkaichun.information.dto.favorite.request.AddFavoriteRequest">
    INSERT INTO
      <include refid="BASE_TABLE"/>
      (userId,favoriteId,favoriteType)
    VALUES(
      #{userId, jdbcType=VARCHAR},
      #{favoriteId, jdbcType=VARCHAR},
      #{favoriteType, jdbcType=VARCHAR}
    )
  </insert>

  <delete id="physicsDeleteUserFavorite" parameterType="com.xingkaichun.information.dto.favorite.request.PhysicsDeleteUserFavoriteRequest">
    delete from <include refid="BASE_TABLE"/>
    where userId = #{userId, jdbcType=VARCHAR}
          and favoriteId = #{favoriteId, jdbcType=VARCHAR}
          and favoriteType = #{favoriteType, jdbcType=VARCHAR}
  </delete>

  <select id="queryUserFavorite" parameterType="com.xingkaichun.information.model.UserFavoriteDomain"
          resultType="com.xingkaichun.information.model.UserFavoriteDomain">
    SELECT * FROM userfavorite uf
    <trim prefix="where" prefixOverrides="and">
      <if test="userId != null and userId != ''">
        and uf.userId = #{userId, jdbcType=VARCHAR}
      </if>
      <if test="favoriteType != null and favoriteType != ''">
        and uf.favoriteType = #{favoriteType, jdbcType=VARCHAR}
      </if>
      <if test="favoriteId != null and favoriteId != ''">
        and uf.favoriteId = #{favoriteId, jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

  <select id="queryUserFavoriteSize" parameterType="com.xingkaichun.information.model.UserFavoriteDomain"
          resultType="java.lang.Integer">
    SELECT count(1) FROM userfavorite uf
    <trim prefix="where" prefixOverrides="and">
      <if test="userId != null and userId != ''">
        and uf.userId = #{userId, jdbcType=VARCHAR}
      </if>
      <if test="favoriteType != null and favoriteType != ''">
        and uf.favoriteType = #{favoriteType, jdbcType=VARCHAR}
      </if>
      <if test="favoriteId != null and favoriteId != ''">
        and uf.favoriteId = #{favoriteId, jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

  <select id="queryUserFavoriteBookList" parameterType="com.xingkaichun.information.dto.favorite.request.QueryUserFavoriteListRequest"
          resultType="com.xingkaichun.information.dto.favorite.UserFavoriteBookDto">
    SELECT uf.CreateTime as addFavoriteTime,b.BookId,b.BookName FROM userfavorite uf
    inner join book b
    on
      uf.userId = #{userId, jdbcType=VARCHAR}
      and uf.favoriteType = #{favoriteType, jdbcType=VARCHAR}
      and uf.favoriteId = b.bookId
    order by uf.lastEditTime desc
  </select>

  <select id="queryUserFavoriteBbsArticleList" parameterType="com.xingkaichun.information.dto.favorite.request.QueryUserFavoriteListRequest"
          resultType="com.xingkaichun.information.dto.favorite.UserFavoriteBbsArticleDto">
    SELECT uf.CreateTime as addFavoriteTime,ba.bbsArticleId,ba.title FROM userfavorite uf
    inner join bbsarticle ba
    on
    uf.userId = #{userId, jdbcType=VARCHAR}
    and uf.favoriteType = #{favoriteType, jdbcType=VARCHAR}
    and uf.favoriteId = ba.bbsArticleId
    order by uf.lastEditTime desc
  </select>
</mapper>