<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.information.dao.ArticleDao" >
  <sql id="BASE_TABLE">
     article
  </sql>

  <sql id="BASE_COLUMN">
     articleId,categoryId,userId,title,content,createTime,lastEditTime
  </sql>

  <insert id="addArticle" parameterType="com.xingkaichun.information.model.ArticleDomain">
    INSERT INTO
      <include refid="BASE_TABLE"/>
      (<include refid="BASE_COLUMN"/>)
    VALUES(
      #{articleId, jdbcType=VARCHAR},
      #{categoryId, jdbcType=VARCHAR},
      #{userId, jdbcType=VARCHAR},
      #{title, jdbcType=VARCHAR},
      #{content, jdbcType=VARCHAR},
      #{createTime, jdbcType=TIMESTAMP},
      #{lastEditTime, jdbcType=TIMESTAMP}
    )
  </insert>

  <select id="queryArticle" parameterType="com.xingkaichun.information.dto.article.request.QueryArticleRequest" resultType="com.xingkaichun.information.model.ArticleDomain">
      SELECT * FROM <include refid="BASE_TABLE"/>
      where 1=1
      <if test="articleId != null">
        and ArticleId = #{articleId, jdbcType=VARCHAR}
      </if>
      <if test="categoryId != null">
          and CategoryId = #{categoryId, jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        and UserId = #{userId, jdbcType=VARCHAR}
      </if>
      <if test="title != null">
        <bind name="bind_title" value="'%' + title + '%'" />
        and Title like #{bind_title}
      </if>
      <if test="content != null">
          <bind name="bind_content" value="'%' + content + '%'" />
          and Content like #{bind_content}
      </if>
      <if test="createTimeStart != null">AND CreateTime <![CDATA[>=]]> #{createTimeStart, jdbcType=TIMESTAMP}</if>
      <if test="createTimeEnd != null">AND CreateTime <![CDATA[<=]]>#{createTimeEnd, jdbcType=TIMESTAMP}</if>
      <if test="lastEditTimeStart != null">AND LastEditTime <![CDATA[>=]]> #{lastEditTimeStart, jdbcType=TIMESTAMP}</if>
      <if test="lastEditTimeEnd != null">AND LastEditTime <![CDATA[<=]]>#{lastEditTimeEnd, jdbcType=TIMESTAMP}</if>
  </select>

    <delete id="deleteArticle" parameterType="com.xingkaichun.information.dto.article.request.DeleteArticleRequest">
        delete from <include refid="BASE_TABLE"/>
        where articleId = #{articleId, jdbcType=VARCHAR}
    </delete>

    <update id="updateArticle" parameterType="com.xingkaichun.information.model.ArticleDomain">
        update <include refid="BASE_TABLE"/>
        set
        <if test="articleId != null">
            ArticleId = #{articleId, jdbcType=VARCHAR},
        </if>
        <if test="categoryId != null">
            CategoryId = #{categoryId, jdbcType=VARCHAR},
        </if>
        <if test="userId != null">
            UserId = #{userId, jdbcType=VARCHAR},
        </if>
        <if test="title != null">
            Title = #{title, jdbcType=VARCHAR},
        </if>
        <if test="content != null">
            Content = #{content, jdbcType=VARCHAR},
        </if>
        <if test="lastEditTime != null">
            LastEditTime = #{lastEditTime, jdbcType=TIMESTAMP},
        </if>
        ArticleId = #{articleId, jdbcType=VARCHAR}
        where ArticleId = #{articleId, jdbcType=VARCHAR}
    </update>
</mapper>