<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.information.dao.CategoryDao" >
  <sql id="BASE_TABLE">
    category
  </sql>

  <sql id="BASE_COLUMN">
    categoryId,categoryName,parentCategoryId,userId,lastEditTime
  </sql>

  <insert id="addCategory" parameterType="com.xingkaichun.information.model.CategoryDomain">
    INSERT INTO
      <include refid="BASE_TABLE"/>
      (<include refid="BASE_COLUMN"/>)
    VALUES(
      #{categoryId, jdbcType=VARCHAR},
      #{categoryName, jdbcType=VARCHAR},
      #{parentCategoryId, jdbcType=VARCHAR},
      #{userId, jdbcType=VARCHAR},
      #{lastEditTime, jdbcType=TIMESTAMP}
    )
  </insert>

  <select id="queryCategory" parameterType="com.xingkaichun.information.dto.category.request.QueryCategoryRequest" resultType="com.xingkaichun.information.model.CategoryDomain">
      SELECT * FROM <include refid="BASE_TABLE"/>
      where 1=1
      <if test="categoryId != null">
        and categoryId = #{categoryId, jdbcType=VARCHAR}
      </if>
      <if test="parentCategoryId != null">
          and ParentCategoryId = #{parentCategoryId, jdbcType=VARCHAR}
      </if>
      <if test="categoryName != null">
        and CategoryName = #{categoryName, jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        and UserId = #{userId, jdbcType=VARCHAR}
      </if>
  </select>

    <delete id="deleteCategory" parameterType="com.xingkaichun.information.dto.category.request.DeleteCategoryRequest">
        delete from <include refid="BASE_TABLE"/>
        where categoryId = #{categoryId, jdbcType=VARCHAR}
    </delete>

    <select id="queryCategoryByCategoryId" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.CategoryDomain">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        where categoryId = #{categoryId, jdbcType=VARCHAR}
    </select>

    <select id="queryCategoryByIds" parameterType="java.util.Collection" resultType="com.xingkaichun.information.model.CategoryDomain">
        select * from <include refid="BASE_TABLE"/>
        where categoryId in
        <foreach collection="collection" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <update id="updateCategory" parameterType="com.xingkaichun.information.model.CategoryDomain">
        update <include refid="BASE_TABLE"/>
        set
        <if test="categoryName != null">
            CategoryName = #{categoryName, jdbcType=VARCHAR},
        </if>
        categoryId = #{categoryId, jdbcType=VARCHAR}
        where categoryId = #{categoryId, jdbcType=VARCHAR}

    </update>
</mapper>