<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.information.dao.FileDao" >
  <sql id="BASE_TABLE">
     file
  </sql>

  <sql id="BASE_COLUMN">
     fileId,fileName,fileDescrible,filePath
  </sql>

  <insert id="addFile" parameterType="com.xingkaichun.information.model.FileDomain">
    INSERT INTO
      <include refid="BASE_TABLE"/>
      (<include refid="BASE_COLUMN"/>)
    VALUES(
      #{fileId, jdbcType=VARCHAR},
      #{fileName, jdbcType=VARCHAR},
      #{fileDescrible, jdbcType=VARCHAR},
      #{filePath, jdbcType=VARCHAR}
    )
  </insert>

</mapper>