<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.information.dao.UserDao" >
  <sql id="BASE_TABLE">
    user
  </sql>

  <sql id="BASE_COLUMN">
    userId,email,userName,password,passwordSalt,phone
  </sql>

  <insert id="insert" parameterType="com.xingkaichun.information.model.UserDomain">
    INSERT INTO
      <include refid="BASE_TABLE"/>
    (<include refid="BASE_COLUMN"/>)
      VALUES(
      #{userId, jdbcType=VARCHAR},
      #{email, jdbcType=VARCHAR},
      #{userName, jdbcType=VARCHAR},
      #{password, jdbcType=VARCHAR},
      #{passwordSalt, jdbcType=VARCHAR},
      #{phone, jdbcType=VARCHAR}
    )
  </insert>

  <select id="selectUsers" resultType="com.xingkaichun.information.model.UserDomain">
      SELECT
        <include refid="BASE_COLUMN"/>
      FROM
        <include refid="BASE_TABLE"/>
  </select>

  <select id="queryUser" resultType="com.xingkaichun.information.model.UserDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where 1=1
    <if test="userId != null">
      and userId = #{userId, jdbcType=VARCHAR}
    </if>
    <if test="email != null">
      and email = #{email, jdbcType=VARCHAR}
    </if>
    <if test="userName != null">
      and userName = #{userName, jdbcType=VARCHAR}
    </if>
    <if test="phone != null">
      and phone = #{phone, jdbcType=VARCHAR}
    </if>
  </select>

  <select id="login" parameterType="com.xingkaichun.information.dto.user.request.LoginRequest" resultType="com.xingkaichun.information.model.UserDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where email = #{email, jdbcType=VARCHAR}
    and password = #{password, jdbcType=VARCHAR}
  </select>

  <select id="queryUserByUserId" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.UserDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where userId = #{_parameter, jdbcType=VARCHAR}
  </select>

  <select id="queryUserByEmail" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.UserDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where email = #{_parameter, jdbcType=VARCHAR}
  </select>

  <select id="queryUserByUserName" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.UserDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where userName = #{_parameter, jdbcType=VARCHAR}
  </select>

  <select id="queryUserByPhone" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.UserDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where phone = #{_parameter, jdbcType=VARCHAR}
  </select>

  <select id="queryOneUserByUserToken" parameterType="java.lang.String" resultType="com.xingkaichun.information.model.UserDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where userToken = #{_parameter, jdbcType=VARCHAR}
  </select>

  <update id="updateUserToken" parameterType="com.xingkaichun.information.model.UserDomain">
    update
    <include refid="BASE_TABLE"/>
    set  userToken = #{userToken, jdbcType=VARCHAR}
    where userId = #{userId, jdbcType=VARCHAR}
  </update>
</mapper>